# DATASET
data/

# MODEL
Model/
model.pkl
scaler.pkl
labels.pkl

# CACHE
__pycache__/
*.pyc

# IMAGE (optional)
*.png
*.jpg

# ENV
venv/
.env

# TEST
test/
Test/

.antigravity/
# LOCAL DATA / WEIGHTS
*.pt
history.db
